@model ProjectPRO.ViewModels.ManageMeetingViewModel
@{
    ViewBag.Title = "ManageMeeting";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<div class="container">
     <h2>Manage Meeting</h2>
     Name: @Model.Name<br />
     Date: @Model.Date<br />
     Time: @Model.Time<br />
     Participants: @Html.ActionLink("Invite new people","InviteToMeeting","Meeting",new {@meetid=Model.MeetId },new { @class = "btn" })
     <br />
     <table>
         <tr>
             <th>Name</th>
             <th>Index Number</th>
             <th>Status</th>
         </tr>
         @foreach (var item in Model.Participants)
         {
             <tr>
                 <td>@item.Invitee.Name</td>
                 <td>@item.Invitee.IndexNumber</td>
                 <td>@item.Status</td>
             </tr>
         }
     </table>
    <h4>Notes:  @Html.ActionLink("Create new note","CreateNote","Meeting",new { @meetid = Model.MeetId }, new { @class = "btn" })</h4>
    <table>
        <tr>
            <th>Author</th>
            <th>Note</th>
        </tr>
        @foreach (var no in Model.Notes)
        {
            <tr>
                <td>@no.Author.Name</td>
                <td>@no.Text</td>
            </tr>
        }
    </table>
    </div>

