@model ProjectPRO.ViewModels.AddFileViewModel
@{
    ViewBag.Title = "AddFile";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<h2>AddFile</h2>
@using (Html.BeginForm("AddF", "File",new
{
    gro=ViewBag.GroId
},
    FormMethod.Post))
{
    <table>
        <tr>
            <td>
                @Html.LabelFor(m => m.name,"Name: ")
            </td>
            <td>
                @Html.TextBoxFor(m => Model.name)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.link,"Link: ")
            </td>
            <td>
                @Html.TextBoxFor(m => Model.link)
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Send"  />
            </td>
        </tr>
        <tr>
            <td>
                @Html.ValidationMessage("Error")
            </td>
        </tr>
    </table>
}

