@model ProjectPRO.ViewModels.LoginViewModel
@{
    ViewBag.Title = "Login";
    Layout= "~/Views/Shared/_StartLayout.cshtml";
}
<div class="container">
    <h2>Login</h2>
</div>
@using (Html.BeginForm("Index", "Login", new {ViewBag.ReturnUrl }, FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div id="login-error" class="container">
        @Html.ValidationMessage("loginerror", "")
    </div>

    <div class="container">
        <table id="login-table">
            <tr>
                <td style="width:5%">
                    @Html.LabelFor(o => o.Email, "E-mail:", new { Style="width:5%" })
                </td>
                <td>
                    @Html.TextBoxFor(o => o.Email, new { Style = "width:30%" })
                    <br />
                    @Html.ValidationMessageFor(o => o.Email)
                </td>
            </tr>
            <tr>
                <td style="width:5%">
                    @Html.LabelFor(o => o.Password, "Password:", new { Style = "width:5%" })
                </td>
                <td>
                    @Html.PasswordFor(o => o.Password, new { Style = "width:30%" })
                    <br />
                    @Html.ValidationMessageFor(o => o.Password)
                </td>
            </tr>
            <tr>
                <td>                   
                    <p>
                        <label>
                            <input type="checkbox" id="RememberMe" name="RememberMe"/>
                            <span>Remember Me</span>
                        </label>
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Send" class="btn" />
                </td>
            </tr>
        </table>
    </div>

}