@model ProjectPRO.ViewModels.LoginViewModel
@{
    ViewBag.Title = "Login";
    Layout= "~/Views/Shared/_StartLayout.cshtml";
}

<h2>Login</h2>
@using (Html.BeginForm("Index", "Login", new {ViewBag.ReturnUrl }, FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div id="login-error">
        @Html.ValidationMessage("loginerror", "")
    </div>

    <table id="login-table">
        <tr>
            <td>
                @Html.LabelFor(o => o.Email, "E-mail:")
            </td>
            <td>
                @Html.TextBoxFor(o => o.Email)
                <br />
                @Html.ValidationMessageFor(o => o.Email)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(o => o.Password, "Password:")
            </td>
            <td>
                @Html.PasswordFor(o => o.Password)
                <br />
                @Html.ValidationMessageFor(o => o.Password)
            </td>
        </tr>
        <tr>
            <td>
                @Html.CheckBoxFor(o => o.RememberMe)
                <br />
                @Html.LabelFor(o => o.RememberMe)
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Send" class="btn" />
            </td>
        </tr>
    </table>

}

