@model ProjectPRO.ViewModels.AddGroupsViewModel
@{
    ViewBag.Title = "addGroups";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<h2>addGroups</h2>
@using (Html.BeginForm("AddGr", "Home", FormMethod.Post))
{
    <table>
        <tr>
            <td style="width:60px">
                @Html.LabelFor(m => m.SelGroup,"Group:")
            </td>
            <td style="width:200px">
                <div class="input-field">
                    @Html.DropDownListFor(m => Model.SelGroup, Model.Groups, new { @class = "left-align" })
                </div>
            </td>
        </tr>
        <tr>
            <td style="width:60px">
                @Html.LabelFor(m => m.SelUser, "User:")
            </td>
            <td style="width:200px">
                <div class="input-field">
                    @Html.DropDownListFor(m => Model.SelUser, Model.Users, new { @class = "dropdown - content" })
                </div>
            </td>
        </tr>
        <tr>
            <td style="width:60px">
                @Html.LabelFor(m => m.Role, "Role")
            </td>
            <td style="width:200px">
                <div class="input-field">
                    @Html.DropDownListFor(m => Model.Role, new SelectList(new[] { "Teacher", "Student", "Main Advisor" }), "Select Role", new { @class = "dropdown - content" })
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Send" />
            </td>
        </tr>
        <tr>
            <td>
                @Html.ValidationMessage("Error")
            </td>
        </tr>
    </table>


}

